/* Versión laptop (a partir de 1024px de ancho) */
@media (min-width: 768px) {
    header{
        display: flex;
        flex-direction: column-reverse;
    }
    nav {
    position: static;          /* deja de ser absoluto */
    transform: none;           /* elimina el translate */
    justify-content: flex-start; /* o lo que necesites */
    padding: 15px 30px;        /* ejemplo: más espacio horizontal */
    display: flex;
    justify-content: flex-end;
  }
  .mama_logo{
    height: auto;
    width: 250px;
  }

}