/* 
  HEADINGS
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal; 
    
  NORMAL TEXTS
  font-family: "Roboto", sans-serif;
*/

:root{
  --background-color: rgb(249, 214, 220);
  --background-color-images: rgba(249, 214, 220, 0.7);
  --headings-font: "Indie Flower", cursive;
  --text-font: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--background-color);
}
.hero-container {
  position: relative;
  width: 100%;
}
header {
  position: relative;
}
.header-image {
  width: 100%;   /* ocupa todo el ancho disponible */
  height: auto;  /* mantiene la proporción de la imagen */
  display: block;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
nav {
  position: absolute;       /* flota sobre la imagen */
  top: 30px;                 /* posición vertical: centro de la imagen */
  left: 50%;                /* posición horizontal: centro de la imagen */
  transform: translate(-50%, -50%); /* centra perfectamente el nav */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-radius: 5px;
  /* border: 1px solid black; */
}
.nav_ul {
  display: flex;
  /* gap: 20px; */
  list-style: none;
  width: 250px;
  /* border: 1px solid yellow; */
}
.nav_a {
  text-decoration: none;
  color: rgb(82, 70, 70);
  font-weight: bold;
  font-size: 14px;
  /* border: 1px solid red; */
  background-color: rgba(249, 249, 249, 0.85); /* fondo semitransparente */
  width: 85px;
  font-family: "Roboto", sans-serif;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_a:hover{
  color: rgb(0, 200, 255);
  border: 2px solid rgb(0, 200, 255);
  background-color: white;
}
.nav_li{
  display: flex;
}
.a_home{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.a_contact{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.img_baby_parent_hands{
  border-radius: 20px;
}
.first_section{
  margin-top: 20px;
  display: flex;
  padding: 10px;
}
.p_first_section{
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--background-color-images), var(--background-color-images)), /* capa blanca semitransparente */url('../images/flowers_one.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--text-font);
}
.second_section{
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img_black_white{
  border-radius: 30px;
}
.sign_up_btn{
  margin-top: 15px;
  margin-bottom: 30px;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 200, 255);
  border-radius: 10px;
  height: 25px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_up_btn:hover{
  background-color: blue;
}
footer{
  background-color: rgb(241, 232, 166);
  color: rgb(0, 200, 255);  
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons{
  font-size: 32px;
}
.icons:hover{
  color: blue;
  cursor: pointer;
}
.social_icons_box{
  display: flex;
  justify-content: space-around;
  width: 150px;
}
.footer_social{
  color: rgb(0, 200, 255);  
  text-decoration: none;
}