*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* header{
    display: flex;
    justify-content: flex-end;
} */
.nav_a{
    text-decoration: none;
    font-size: 13px;
    color: black;

    /* border: 1px solid green; */
}

.nav_a:hover{
   text-decoration: underline;
}

.nav_ul{
    display: flex; 
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    width: 180px;
    padding: 0 5px 0 5px;
}

.nav_li{
    list-style: none;
    /* border: 1px solid yellow; */
}

.hero-container {
  position: relative;
}

nav {
  position: absolute;
  top: 10px;
  left: 70px;
  /* width: 100%; */
  z-index: 10;
}

.hero-image {
  height: auto;
  display: block;
  border-bottom-right-radius: 22px;
  border-bottom-left-radius: 22px;
}