/* 
    HEADINGS
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal; 
    
    NORMAL TEXTS
    font-family: "Roboto", sans-serif;

*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-container {
  position: relative;
  width: 100%;
}

header {
  position: relative;
}

.header-image {
  width: 100%;   /* ocupa todo el ancho disponible */
  height: auto;  /* mantiene la proporción de la imagen */
  display: block;
}

nav {
  position: absolute;       /* flota sobre la imagen */
  top: 30px;                 /* posición vertical: centro de la imagen */
  left: 50%;                /* posición horizontal: centro de la imagen */
  transform: translate(-50%, -50%); /* centra perfectamente el nav */
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  border-radius: 5px;
  /* border: 1px solid black; */
}

.nav_ul {
  display: flex;
  /* gap: 20px; */
  list-style: none;
  width: 250px;
  /* border: 1px solid yellow; */
}

.nav_a {
    text-decoration: none;
    color: rgb(82, 70, 70);
    font-weight: bold;
    font-size: 14px;
    /* border: 1px solid red; */
    background-color: rgba(249, 249, 249, 0.85); /* fondo semitransparente */
    width: 85px;
    font-family: "Roboto", sans-serif;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_a:hover{
    color: rgb(0, 200, 255);
    border: 2px solid rgb(0, 200, 255);
}
.nav_li{
    display: flex;
}

.a_home{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.a_contact{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}